<div th:switch="${users}">
    <h2 th:case="null">No users yet!</h2>
    <div th:case="*">
        <h2>Your info</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>Roles</th>
                <th>Password</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.age}"></td>
            <tr th:each="role : ${users.roles}">
                <td th:text="${role.getRoleName}"></td>
            </tr>
            <td th:text="${users.password}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Logout"/>
    </form>
</div>